expandable {

    .expand-wrapper {
        height: auto;
        transition: max-height 0.9s ease-in-out;
        text-align: justify;
        font-size: small;
    }
    .expanded {
        height: 200px !important;
        width: 100%;
        text-align: left;
    }

}