<ion-header>
  <ion-toolbar>
    <ion-title>Início</ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/notificacao">
        <ion-label style="font-size: 10px;">Informe sua localização</ion-label>
        <ion-icon name="location-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <!--Slides-->
  <ion-slides pager="true" [options]="slideOpts" class="primary-font">
    <ion-slide class="ion-padding">
      <div class="bg-img">
        <ion-img src="./assets/slides/banner1.jpg"></ion-img>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <div class="bg-img">
        <ion-img src="./assets/slides/banner2.jpg"></ion-img>
      </div>
    </ion-slide>
  </ion-slides>

  <!--Faça sua busca-->

    <ion-item>
      <ion-input class="ion-text-center" placeholder="Faça sua busca"></ion-input>
    </ion-item>

  <!--------------Descrição dos Grupos---------------->

  <div class="ion-padding">
    <ion-row>
      <ion-col>
        <div class="ion-float-left">
          <strong>Escolha um Grupo</strong>
        </div>
      </ion-col>
    </ion-row>


    <!-----------------------------Slides dos grupos--------------------->

    <div class="category-block">
      <!-- <ion-row no-padding class="category-banner">
    <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
      {{ cat.category }}
    </ion-col>
  </ion-row> -->

      <!-- <ion-slide *ngFor="let grupo of items">
          <div>
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                </ion-card-title>
                <ion-card-content>
                  <ion-icon name="laptop-outline" size="large"></ion-icon>
                  <h5>
                    {{ grupo.category }}
                  </h5>
                </ion-card-content>
              </ion-card-header>
            </ion-card>

          </div> -->

      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let grupo of items">
            <div class="ion-text-center">

              <ion-card padding routerLink="/grupo-service">
                <ion-card-header>
                  <ion-card-title>
                    <ion-icon size="large" [name]="grupo.icon"></ion-icon>
                  </ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  <div>
                    <strong>
                      {{grupo.category}}
                    </strong>
                  </div>
                </ion-card-content>

              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

  </div>

</ion-content>