<ion-header>
  <ion-toolbar>
    <ion-title>perfis</ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/notificacao">
        <ion-icon style='font-size: 28px' name="location-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Faça sua busca-->
  <ion-item>
    <ion-input class="ion-text-center" placeholder="Faça sua busca"></ion-input>
  </ion-item>

  <ion-list>
  
    <ion-item>
      <ion-label color="primary">
        <h1>christmas</h1>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>