<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--------------------------Faça sua busca--------------------------------->

  <ion-item>
    <ion-input class="ion-text-center" placeholder="Faça sua busca"></ion-input>
  </ion-item>

  <!-------------------------------Ícones------------------------------------>

  <div class="filter">
    <ion-icon name="list-sharp" (click)="showCard=false"></ion-icon>
    <ion-icon name="apps-sharp" (click)="showCard=true"></ion-icon>
    <ion-icon name="funnel-sharp"></ion-icon>
  </div>

  <!--------------------------Descrição das Classes--------------------------->

  <div class="ion-padding">
    <ion-row>
      <ion-col>
        <div class="ion-float-left">
          <strong>Adicione serviços ao seu carrinho</strong>
        </div>
      </ion-col>
    </ion-row>

    <!-------------------------Ação do ícone List dos cards----------------------->
    <div class="category-block">
      <ion-grid *ngIf="showCard">
        <ion-row>
          <ion-col size="4" *ngFor="let classe_informatica of services">
            <div class="ion-text-center">
              <ion-card padding routerLink="/home/tabs/inicio/list-service/">
                <ion-card-header>

                </ion-card-header>

                <ion-card-content>
                  {{ classe_informatica.nome }}
                </ion-card-content>

              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!--------------------------------Chamando a lista------------------------------->

      <ion-list class="child-item" *ngFor="let servico of services" detail="false" lines="none">

        <ion-item button>
          <ion-label [ngStyle]="{'color':showService == servico.id ? '#0a68ae' : 'black' }">
            <h3><b>{{ servico.name }}</b></h3>
          </ion-label>

          <ion-icon (click)="showListService(servico.id)" *ngIf="showService != servico.id" name="chevron-down-outline"></ion-icon>
          <ion-icon name="chevron-up-outline" (click)="showService = 0" *ngIf="showService == servico.id"></ion-icon>
          <ion-icon (click)="addCart()" name="add-outline" slot="end"></ion-icon>

        </ion-item>

        <ion-list *ngIf="showService == servico.id" no-padding>
          <ion-item no-padding>
            <ion-label class="ion-text-wrap">
              <b>Inclusos:</b>
               {{ servico.inclusos }}
              <br/>
              <br/>
              <b>Exclusos:</b>
               {{ servico.exclusos}}
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-list>

    </div>
  </div>

</ion-content>