<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>list-service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--------------------------Faça sua busca--------------------------------->

  <ion-item>
    <ion-input class="ion-text-center" placeholder="Faça sua busca"></ion-input>
  </ion-item>

  <!-------------------------------Ícones------------------------------------>

  <div class="filter">
    <ion-icon name="list-sharp" (click)="showCard=false"></ion-icon>
    <ion-icon name="apps-sharp" (click)="showCard=true"></ion-icon>
    <ion-icon name="funnel-sharp"></ion-icon>
  </div>

  <!--------------------------Descrição das Classes--------------------------->

  <div class="ion-padding">
    <ion-row>
      <ion-col>
        <div class="ion-float-left">
          <strong>Adicione serviços ao seu carrinho</strong>
        </div>
      </ion-col>
    </ion-row>

    <!-------------------------Ação do ícone List dos cards----------------------->
    <div class="category-block">
      <ion-grid *ngIf="showCard">
        <ion-row>
          <ion-col size="4" *ngFor="let classe_informatica of classes">
            <div class="ion-text-center">
              <ion-card padding routerLink="/home/tabs/inicio/list-service/">
                <ion-card-header>
                  <ion-card-title>
                    <ion-icon size="large" [name]="classe_informatica.icon"></ion-icon>
                  </ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  {{ classe_informatica.name }}
                </ion-card-content>

              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!--------------------------------Chamando a lista------------------------------->

      <ion-list no-lines *ngIf="!showCard">
        <ion-item button *ngFor="let classe_informatica of classes">
          <ion-icon class="ion-margin-end" name="laptop-outline" item-start></ion-icon>
          <ion-label class="ion-text-wrap">
            {{ classe_informatica.name }}
            <ion-icon class="ion-float-right" name="add-outline"></ion-icon>
            <ion-icon class="ion-float-right" name="caret-down-sharp"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>