<ion-tabs>
  <ion-tab-bar slor="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="perfis">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfis</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="compras">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Compras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grupos">
      <ion-icon name="list"></ion-icon>
      <ion-label>Grupos</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="servicos">
    <ion-icon name="briefcase"></ion-icon>
      <ion-label>Compras</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>