<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input class="ion-text-center" placeholder="Faça sua busca"></ion-input>
  </ion-item>

  <!--Faça sua busca-->

  <div class="filter">
    <ion-icon name="list-sharp" (click)="showCard=false"></ion-icon>
    <ion-icon name="apps-sharp" (click)="showCard=true"></ion-icon>
  </div>

  <!--------------Descrição das Classes---------------->

  <div class="ion-padding">
    <ion-row>
      <ion-col>
        <div class="ion-float-left">
          <strong>Escolha uma Classe</strong>
        </div>
      </ion-col>
    </ion-row>

    <!------------------------- Cards das Classes de Serviços --------------------->
    <div class="category-block">
      <ion-grid *ngIf = "showCard">
        <ion-row>
          <ion-col size="4" *ngFor="let classe_informatica of classes">
            <div class="ion-text-center">
              <ion-card routerLink="/home/tabs/inicio/list-service/">
                <ion-card-header>
                  <ion-card-title>
                    <ion-icon size="large" [name]="classe_informatica.icon"></ion-icon>
                  </ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  {{ classe_informatica.name }}
                </ion-card-content>

              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!---------------------------Lista de Cards das Classes de Serviço--------------------------->
      <ion-list routerLink="/home/tabs/inicio/list-service/" no-lines *ngIf = "!showCard">
        <ion-item button *ngFor="let classe_informatica of classes">  
          <ion-icon class="ion-margin-end" name="laptop-outline" item-start></ion-icon>
          <ion-label>
          {{ classe_informatica.name }}
        </ion-label>
        </ion-item>  
      </ion-list>
    </div>
  </div>

</ion-content>

